PORT=
NODE_ENV=

// AI APIs
GEMINI_API_KEY=
OPENAI_API_KEY=
ELEVENLABS_API_KEY=
OPENROUTER_API_KEY=
// Services
PYTHON_SERVICE_URL=

// Redis
REDIS_URL=

// Frontend
FRONTEND_URL=

// Session
SESSION_SECRET=


# AI Configuration
AI_PROVIDER=
 
# Interviewer Persona
INTERVIEWER_PERSONA=

HUGGINGFACE_API_KEY=


# Judge0 Configuration
JUDGE0_API_URL=
JUDGE0_AUTHN_TOKEN= # Maps to X-Auth-Token header
JUDGE0_AUTHZ_TOKEN= # Maps to X-Auth-User header
