PORT=
NODE_ENV=

// AI APIs
GEMINI_API_KEY=
OPENAI_API_KEY=
ELEVENLABS_API_KEY=
OPENROUTER_API_KEY=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
// Services
PYTHON_SERVICE_URL=

// Redis
REDIS_URL=

// Frontend
FRONTEND_URL=

// Session
SESSION_SECRET=